.input{
    margin-bottom: 0.7rem;
    display: flex;
  align-items: center;
  
    
}

.input label{
    font-weight: bold;
    margin:0 0.5rem;
}

.input input {
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
   
   
  }